.btn {

  background: #B1CE97;
  background-image: -webkit-linear-gradient(top, #B1CE97, #B1CE97);
  background-image: -moz-linear-gradient(top, #B1CE97, #B1CE97);
  background-image: -ms-linear-gradient(top, #B1CE97, #B1CE97);
  background-image: -o-linear-gradient(top, #B1CE97, #B1CE97);
  background-image: linear-gradient(to bottom, #B1CE97, #B1CE97);

  background: 'rgb(177, 206, 151)';

  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
}

.btn:hover {

  background: #51694D;
  background-image: -webkit-linear-gradient(top, #51694D, #51694D);
  background-image: -moz-linear-gradient(top, #51694D, #51694D);
  background-image: -ms-linear-gradient(top, #51694D, #51694D);
  background-image: -o-linear-gradient(top, #51694D, #51694D);
  background-image: linear-gradient(to bottom, #51694D, #51694D);

  background: #3cfc49;

  text-decoration: none;
}

.input-txt {
  width: 17%;
  margin: 10px;
  align-items: center;
  text-align: center;
}

.farmImage {
  background-image: url(https://images.unsplash.com/photo-1575977883229-8287863734ef?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(73, 110, 49);
}