.btn {
  background: 'rgb(177, 206, 151)';
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
}

.btn:hover {
  background: #3cfc49;

  text-decoration: none;
}

.input-txt {
  width: 17%;
  margin: 10px;
  align-items: center;
  text-align: center;
}