.SignUpSide {
    height: 100vh;
}

.SignUpSide-image {
    background-image: url(./vegetables.jpg);
    background-repeat: no-repeat;
    background-color: grey;
    background-size: cover;
    background-position: center;
}

.SignUpSide-paper {
    margin: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SignUpSide-avatar {
    margin: 8px;
    background-color: fuchsia;
}

.SignUpSide-form {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.SignUpSide-submit {
    margin: 8px;
    background-color:  rgb(73, 110, 49) !important;
    border-color: rgb(73, 110, 49) !important;
    color: rgb(255, 255, 255) !important;
}
.link{
    color: rgb(73, 110, 49) !important;;
}
